<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509665004405-m2lu137paf1fdrmskndspusvcida2cdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509665004405-m2lu137paf1fdrmskndspusvcida2cdu</string>
	<key>API_KEY</key>
	<string>AIzaSyA1XHLNAqO0nbkB2WGL2HgcRiqs0OPcu_c</string>
	<key>GCM_SENDER_ID</key>
	<string>509665004405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-38e8c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-38e8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509665004405:ios:625775cf1d8e52f340213c</string>
</dict>
</plist>